<section class="sec-hero">
	<div class="headline">
		<h1>Find the purrfect vacation home for your cat</h1>

		<a href="#faq" class="faq-button pure-button pure-button-primary">How does it work?</a>
	</div>

	<%= render partial: "partials/search_bar", locals: { search: {} } %>
</section>

<section class="sec-info centered pure-g">
	<div class="pure-u-2-5 left">
		<h2>Airbnb for cats</h2>
		<p>
			Looking for the purrfect place for your feline frenzy?  With <span class="litterbox">Litterbox</span>, you can rest easy without pawsing to worry about your cat. Get yourself out of worry purrgatory, and on to catisfaction.
		</p>

		<div class="cta">
			<a class="pure-button pure-button-primary sign-up">Sign up Meow</a>
		</div>
	</div>

	<div class="pure-u-3-5 right">
	</div>
</section>

<section id="faq" class="sec-faq centered">
	<h2>Catliture</h2>

	<div class="question">
		<h3>Frequently Asked Questions</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

	<div class="question">
		<h3>Is this thing for real?</h3>
		<p>Unfortunately, Litterbox is only catilicious within the context of Rails Rumble! Purrrhaps, you
		thought, "You've cat to be kitten me! This is perfect!" in which case... Sorry. </p>
	</div>

	<div class="question">
		<h3>History</h3>
		<p>Litterbox was created Novermber 2015.</p>
	</div>

	<div class="question">
		<h3>Our Subject</h3>
		<p>The domestic cat (Felis catus or Felis silvestris catus) is a small, typically furry, domesticated, and carnivorous mammal. They are often called house cats when kept as indoor pets or simply cats when there is no need to distinguish them from other felids and felines. Cats are often valued by humans for companionship and their ability to hunt vermin.Cats are similar in anatomy to the other felids, with strong, flexible bodies, quick reflexes, sharp retractable claws, and teeth adapted to killing small prey. Cat senses fit a crepuscular and predatory ecological niche. Cats can hear sounds too faint or too high in frequency for human ears, such as those made by mice and other small animals. They can see in near darkness. Like most other mammals, cats have poorer color vision and a better sense of smell than humans.</p>
	</div>

</section>