<section class="sec-hero">
	<div class="headline">
		<h1>Find the purrfect place for your cat</h1>

		<a href="/faq" class="faq-button pure-button pure-button-primary">How does it work?</a>
	</div>

	<%= render partial: "partials/search_bar", locals: { search: {} } %>
</section>


<section class="sec-info centered pure-g">
	<div class="pure-u-2-5 left">
		<h2>kittens and shit</h2>
		<p>Loves cheeseburgers hunt anything that moves. Chase ball of string put toy mouse in food bowl run out of litter box.</p>
		<div class="cta">
			<button class="pure-button pure-button-primary">Tempurrary button</button>
		</div>
	</div>

	<div class="pure-u-3-5 right">
	</div>
</section>
