<div class="result-count">
	<%= litterboxes.length %> litter boxes found.
</div>

<ul class="results-list">
	<% litterboxes.forEach(function(litterbox) { %>
		<li class="single-result">
			<%= litterbox.name %><br />
			<a target="_blank" href="http://maps.google.com/?q=<%= litterbox.full_address %>">
				Directions (<%= litterbox.distance.toFixed(2) %> miles)
			</a>
		</li>
	<% }) %>
</ul>
