<div class="result-count">
	<%= count %> litter boxes found.
</div>

<% singleSearchResults = require('./singleSearchResults.ejs') %>

<ul class="results-list">
	<% markers.forEach(function(marker) { %>
		<%- singleSearchResults({ litterbox: marker.litterbox }) %>
	<% }); %>
</ul>

<button id="load-more">Load More Litterbox Details</button>
