<div class="search-bar">
	<form class="pure-form">
		<input type="text" class="location" placeholder="Springfield, MO 65806" />
		<input type="text" placeholder="11/06/2015" />
		<input type="text" placeholder="11/07/2015" />

		<select>
			<option>1 cat</option>
			<option>2 cats</option>
			<option>3 cats</option>
			<option>More cats</option>
		</select>

		<button class="pure-button pure-button-primary">Find a litter box</button>
	</form>
</div>