// ================================
// Hero
// ================================


.sec-hero {
	padding: 0;
	background-color: #bbb;
	background-image: url(http://lorempixel.com/900/400/cats/);
	background-size: cover;
	background-position: 50% 50%;
	color: #fff;
	text-align: center;

	.headline {
		padding: rem(70px 0);
	}

	h1 {
		@extend %hsize-xlarge;
		margin: rem(70px 0);
	}

	.faq-button {
		font-size: 125%;

		&:hover {
			color: #fff;
		}
	}

	.search-bar {
		padding: rem(20px 0);
		background-color: rgba(0, 0, 0, 0.25);

		.location {
			width: 30%;
		}

		input,
		select {
			width: 10%;
		}

		button {
			width: 15%;
		}
	}
}
