// ================================
// Hero
// ================================


.sec-hero {
	padding: 0;
	background-color: #bbb;
	background-image: url(http://lorempixel.com/900/400/cats/);
	background-size: cover;
	background-position: 50% 50%;
	color: #fff;
	text-align: center;

	.headline {
		padding: rem(70px 0);
		animation-delay: 0.5s;
		animation-duration: 1s;
	}

	h1 {
		@extend %hsize-xlarge;
		margin: rem(70px 0);
		text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	}

	.faq-button {
		font-size: 125%;

		&:hover {
			color: #fff;
		}
	}

}
