// ================================
// Info
// ================================


.sec-info {
	.left {
		padding: rem(40px);
		background-color: #eee;
	}

	.right {
		padding: rem(20px);
		background-image: url(http://lorempixel.com/500/300/cats/);
		background-size: cover;
		background-position: 50% 50%;
	}

	h2 {
		@extend %hsize-medium;
		margin-bottom: rem(20px);
	}

	.litterbox {
		color: setcolor(green);
	}

	.cta {
		margin-top: rem(20px);
		text-align: center;

		.pure-button {
			font-size: 125%;
		}
	}
}
