// ================================
// Litterbox view
// ================================

body.litter_boxes-show {
	.page-content {
		padding-top: rem(500px);
	}

	h1 {
		margin-bottom: rem(20px);
		font-size: rem(20px);
	}

	h2 {
		font-size: rem(16px);
	}

	.rating {
		display: inline-block;

		.s-paw.active {
			color: setcolor(green);
		}

		.rating-count {
			display: inline-block;
			margin-left: rem(5px);
		}
	}

	.avatar {
		width: rem(100px);
		height: rem(100px);
		border-radius: 100%;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.litterbox-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: rem(500px);
	background-size: cover;
	background-position: 50% 50%;
}

.litterbox-view-container {
	background-color: #eee;

	.details {
		@include cf;
		padding-bottom: rem(30px);
		background-color: setcolor(white);

		.user-avatar {
			float: left;
			width: rem(100px);
			margin: rem(0 30px);
			img {
				width: rem(100px);
				height: rem(100px);
			}
		}
		.user-details {
			float: left;
			width: calc(100% - 160px);
			padding-top: rem(20px);
		}

		.centered {
			padding: rem(30px 0);
		}

		h1 {
			margin-bottom: rem(20px);
		}

		.location {
			display: inline-block;
			margin-right: rem(20px);
		}
	}
}

.sec-litterbox-view {
	@include cf;

	.left {
		float: left;
		width: calc(70% - 20px);
		margin-right: rem(20px);
	}

	.right {
		float: left;
		width: 30%;
	}

	.statistics {
		h1 {
			margin-bottom: rem(20px);
		}

		.some-stat {
			@include cf;
			margin-bottom: rem(10px);
			padding: rem(20px 0);
			border-bottom: 1px solid #ccc;

			&:last-child {
				border-bottom: none;
			}
		}

		label {
			float: left;
			width: 30%;
			font-size: rem(14px);
			color: setcolor(gray);
		}

		p {
			float: left;
			width: 70%;
		}
	}

	.book-right-meow {
		padding: rem(20px);
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
}

.review-container {
	background-color: setcolor(white);

	.headline {
		@include cf;
	}

	h1 {
		float: left;
		margin-right: rem(20px);
	}

	.review {
		@include cf;
		margin-bottom: rem(50px);
		border-bottom: 1px solid #eee;

		.user-info {
			float: left;
			width: rem(160px);
			padding: rem(30px);
			text-align: center;
		}

		.name {
			margin-top: rem(20px);
			color: setcolor(gray);
			font-size: rem(14px);
		}

		.the-content {
			float: left;
			width: calc(100% - 160px);
			padding: rem(20px);
		}
	}
}

.book-right-meow {
	text-align: center;

	.fields {
		@include cf;
	}

	label {
		display: block;
		text-align: left;
		font-size: rem(13px);
		color: setcolor(gray);
	}

	.add_fields {
		float: left;
		width: calc(50% - 5px);

		&:first-child {
			margin-right: rem(10px);
		}
	}

	.date_fields {
		width: 100%;
	}

	.pure-button {
		margin-top: rem(20px);
	}
}
