// ================================
// Search
// ================================

body.searches-show footer {
	display: none;
}

.sec-search {
	position: absolute;
	top: rem(70px);
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	background-color: #eee;

	.map-view {
		float: left;
		width: 60%;
		height: calc(100% - 78px);
		border-right: rem(10px) solid #eee;
	}

	.results {
		float: left;
		width: 40%;
		height: calc(100% - 78px);
		overflow: scroll;
		background-color: setcolor(white);
	}

	.filters {
		min-height: rem(150px);
		padding: rem(20px 30px);
		background-color: #eee;

		h3 {
			margin-bottom: rem(10px);
		}

		.single-filter {
			@include cf;
			padding: rem(10px);
		}

		label {
			font-size: rem(15px);
			color: setcolor(gray);
		}

		.slider {
			@include cf;
			padding: rem(10px);

			.nstSlider  {
				float: left;
				width: 80%;
				background-color: setcolor(green);
			}

			.leftLabel,
			.rightLabel {
				float: left;
				width: 10%;
				text-align: center;
				color: setcolor(gray);

				&:before {
					content: '$';
					font-size: rem(10px);
				}
			}
		}
	}

	#search-results {
		min-height: calc(100% - 150px); // the .filters height
		padding: rem(30px);
	}

	.result-count {
		font-weight: bold;
		margin-bottom: rem(20px);
	}

	.results-list {
		@include cf;
		list-style: none;
	}

	.single-result {
		float: left;
		width: calc(50% - 10px);
		overflow: hidden;
		margin-bottom: rem(20px);
		background-size: cover;
		background-position: 50% 50%;

		&:nth-child(even) {
			margin-left: rem(20px);
		}

		&:hover {
			.details {
				background-color: rgba(255, 255, 255, 0.95);
			}

			.price {
				transform: translateX(0);
			}
		}

		a {
			display: block;
			position: relative;
			height: rem(200px);
		}

		.price {
			position: absolute;
			left: 0;
			bottom: 50%;
			padding: rem(10px 20px);
			font-size: rem(17px);
			font-weight: bold;
			background-color: setcolor(green);
			color: setcolor(white);
			transform: translateX(-100%);
			transition: transform 0.25s ease-in-out;

			&:before {
				content: '$';
				font-size: rem(10px);
			}
		}

		.details {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(255, 255, 255, 0.9);
			padding: rem(10px 20px);
			color: setcolor(gray, dark);
			line-height: 1.25;
			font-size: 80%;
			transition: all 0.25s ease-in-out;
		}

		.name {
			font-size: 125%;
		}

		.distance,
		.rating {
			display: inline-block;
			padding-top: rem(5px);
		}

		.distance {
			margin-right: rem(30px);
		}

		.rating-count {
			display: inline-block;
			margin-left: rem(5px);
		}

		.s-paw {
			color: setcolor(gray);

			&.active {
				color: setcolor(green);
			}
		}
	}

}
