// ================================
// Search
// ================================

body.searches-show footer {
	display: none;
}

.sec-search {
	position: absolute;
	top: rem(110px);
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	background-color: #eee;

	.map-view {
		float: left;
		width: 70%;
		height: calc(100% - 78px);
		border-right: 5px solid rgba(0, 0, 0, 0.1);
	}

	.results {
		float: left;
		width: 30%;
		height: calc(100% - 78px);
		overflow: scroll;
	}

	.filters {
		background-color: setcolor(white);
		padding: rem(20px);
	}

	#search-results {
		padding: rem(20px);
	}

	.result-count {
		font-weight: bold;
		margin-bottom: rem(20px);
	}

	.results-list {
		list-style: none;
	}

	.single-result {
		margin-bottom: rem(10px);
		padding-top: rem(200px);
		background-size: cover;
		background-position: 50% 50%;

		.details {
			background-color: rgba(255, 255, 255, 0.8);
			padding: rem(20px);
			color: setcolor(gray, dark);
			line-height: 1.25;
			font-size: 80%;
		}

		.name {
			font-size: 125%;
		}

		.paw {
			display: inline-block;
			width: 10px;
			height: 10px;
			background-color: gray;

			&.active {
				background-color: red;
			}
		}
	}

	.login-helper {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: rem(30px 20px);
		text-align: center;
		z-index: z('overlay');
		background-color: rgba(255, 255, 255, 0.75);
		border-top: 5px solid rgba(0, 0, 0, 0.1);

		.pure-menu-list {
			margin-left: rem(30px);
		}
	}
}
