// ================================
// Footer
// ================================

footer {
	margin: rem(50px 20px);
	text-align: center;
	color: setcolor(gray);

	.container {
		margin: 0 auto;
		max-width: $max-width-medium;
	}

	.pure-menu {
		margin-bottom: 20px;
	}
}
