// ================================
// Header
// ================================

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: rem(50px);
	z-index: z('header');
	margin: rem(30px);

	h1 {
		float: left;
		width: 50%;
	}

	.pure-menu {
		float: right;
		width: 50%;
		text-align: right;
	}
}
