<script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>

<section>
	<%= render "partials/search_bar" %>
	<div id="search-results"></div>
	<div id="map" style="width: 500px; height:500px;"></div>
</section>
